<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@400;700;900&display=swap" rel="stylesheet">


* {
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    
    }

    body {
        font-family: 'Azeret Mono', monospace;
    }
    
    h1 {
        font-size: 5vh;
        font-weight: 900;
    }
    h2 {
        font-size: 4vh;
        font-weight: 800;
    }
    h3{
        font-size: 2.5vh;
    }
    
    button{
        cursor: pointer;
        margin: 2vh;
    }
    ::selection {
        color: white;
        background: black;
      }
/* menu styling */
nav{
    display: flex;
    flex-direction: row;
    align-items: center;

}
p{
    font-size: 1.7vh;
}
/* .nav-menu-wrapper {
    display: inline-flexbox;
    align-items: center;
    justify-content: center;
    max-width: 800px;
} */

/* hreo styling */

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    background-color: #FEFAE0;
}
.hero-content h1 {
    color: #023E8A;
    font-weight: 900;
}
.hero-content h1, h3 {
    max-width: 800px;
    text-align: center;
}
.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hero-btn-holder{
    display: inline-flex;
}

.hero-btn-holder .hero-btn-1 {
    border-radius: 1rem;
    padding: 2.5vh;
    color: white;
    background-color: #023E8A;
}
.hero-btn-holder .hero-btn-2 {
    padding: .7rem;
    color: #023E8A;
    background-color: transparent;
    text-decoration: underline;
}
.hero-btn-holder button {
    font-size: 2vh;
    font-weight: 700;
    border: 0;
}

/* Providers section styling */

.providers-section {
    background-color: #CAF0F8;
}
.provider-image {
    height: 15vh;
    width: 15vh;
    margin: 5vh;
    
}
.providers-wrapper {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    padding: 1vh;
}
.providers-section {
    display: flex;
    justify-content: center;
}
.provider {
    background-color: #FEFAE0;
    margin: 1vh;
    border-radius: 1.7vh;
}


/* Why VPS Section Styling */

.why-vps-section {
    background-color: FEFAE0;
    padding: 5vh;
}
.why-vps-card {
    padding: 1vh;
    background-color: #CAF0F8;
    border-radius: 2vh;
}
.why-vps-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 80vh;
    gap: 5vh;
}
.why-vps-section {
    display: grid;
    justify-content: center;
}
.why-vps-card h2 {
    margin-top: -3vh;
    color: #023E8A;
}
.why-vps-card p {
    font-size: 2.2vh;
}

/* FEATURES STYLING */

.features-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3vh;
    max-width: 90vw;
    justify-content: stretch;
    padding: 3vh;
}

.features-card {
    padding: 2vh;
    display: flex;
    flex-direction: row;
    border-radius: 2vh;
    justify-content: center;
    align-content: center;
    background: linear-gradient(#FEFAE0, #CAF0F8);
    
}
.features-section {
    display: grid;
    justify-content: center;
    padding: 3vh;
}



.features-title {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.features-image {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding: 2vh;
}

.features-image img {
    width: 10vh;
}
.features-card h2 {
    color: #023E8A;
}

/* PRICING STYLING */

.pricing-section {
    display: grid;
    justify-content: center;
    background-color: #FFD5D5;
}

.pricing-wrapper {
    max-width: 800px;
    display: grid;
    gap: 2vh;
    grid-template-columns: 1fr 1fr 1fr;
    color: #023E8A;
    margin: 5vh;
}

.package-details {
    background-color: #FFFFFF;
    padding: 3vh;
    border-radius: 2vh;
    margin: 2vh;
}

.package-name {
    background: linear-gradient(#CAF0F8, #FEFAE0);
    padding: 3vh;
    border-radius: 2vh;
    margin: 2vh;
}


.package-price {
    background-color: #DEF4FF;
    padding: 3vh;
    border-radius: 2vh;
    margin: 2vh;
    text-align: center;
}

.pricing-card a {
    text-decoration: none;
    color: #023E8A;
}

.package-name h3 {
    font-size: 3.5vh;
}
.package-details ul li {
    font-size: 2.6vh;
    font-weight: 700;
    line-height: 5vh;
}

.package-button {
    font-size: 2.5vh;
    font-weight: 800;
}

/* ADDITIONAL SERVICES STYLING */















